* {
  outline: none !important;
}

.app {
  width: 90%;
  margin: auto;
}

p {
  margin-bottom: 14px !important;
}

h1.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #3867fa;
  padding: 20px 0 10px;
}

h2.title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #212121;
  padding: 10px 0;
}

p.description {
  margin-bottom: 20px;
  color: rgb(76, 76, 94);
}
